
*{
    margin: 5px;
}
header {
    background: linear-gradient( to right, rgb(71, 71, 246), rgb(76, 18, 130));
    text-align: center;   
}
h1{ 
    font-size: 25px;
    color: #fff;
    padding: 10px;
}

#main-body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
#current-weather{
    width: 60vw;
    height: fit-content;
    border: 2px solid black;
    padding-bottom: 20px;
}
h2{
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#search-bar{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}
input{
    border: 1px solid rgb(87, 86, 86);
    margin-bottom: 10px;
    width: 25vw;
    height: 40px;
    border-radius: 5px;
}
#display-weather{
    padding: 10px;
    margin-left: 0;
}
button{
    background-color: rgb(66, 116, 242);
    border: 1px solid rgb(87, 86, 86);
    border-radius: 5px;
    height: 30px;
    color: white;
    margin-bottom: 10px;
}
li{
    background-color: rgb(154, 151, 151);
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 7px;
    border-radius: 5px;
    cursor: default;
}
li:hover{
    background-color: rgb(66, 116, 242);
    border: 1px solid rgb(0, 0, 0);
}
#line{
    height: 2px;
    background-color: gray;
    margin-bottom: 10px;
}
#current-weather{
    padding-left: 10px;
}
#future-weather div{
    padding: 10px;
    color: #fff;
    background-color: rgb(73, 73, 87);
    margin-right: 20px;
}